h1 {
    font-size: 30px;
    text-align: center;
    color: #6a421c
}

p {
    font-size: 18px;
    text-align: left;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

body {
    background-color: #127e1773;
}

a {
    color: #6a421c;
    font-size: 25px;
}